<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="title" content="{{ site.title }}">
	<meta name="description" content="{{ site.description }}">
  <meta name="author" content="{{ site.author }}">
	<meta name="generator" content="{{ eleventy.generator }}">
	<meta property="og:type" content="website">
	<meta property="og:url" content="{{ page.URL }}">
	<meta property="og:locale" content="en_US">
	<meta property="og:title" content="{{ site.title }}">
	<meta property="og:description" content="{{ site.description }}">
	<meta property="og:image" content="{{ site.image }}">
  <link rel="icon" href="{{ site.icon }}" type="image/svg+xml">
  <title>{{ site.title }}</title>
  <link rel="stylesheet" href="/assets/css/idle.css">
</head>
<body>
  <header class="inset-square space-between" style="align-content: flex-start">
    <div>
      <h1><a href="/">{{ site.title }}</a></h1>
      <p>A newsletter about good content on screens.</p>
    </div>
    <a href="#subscribe" class="button">Subscribe</a>
  </header>
  <main>
    {% if page.url === "/" %}
      {{ content | safe }}
    {% else %}
      <article class="flow inset-square">
        <div class="stack">
          <h2><a href="{{ url }}">#{{ page.fileSlug }} &middot; {{ title }}</a></h2>
          <p class="subdued">{{ pubDate }}</p>
        </div>
        {{ content | safe }}
      </article>
    {% endif %}
    {% include "partials/convertkit.njk" %}
  </main>
  <footer class="space-between">
    <p>A newsletter by <a href="https://mikeaparicio.com">Mike Aparicio</a>. <a href="/feed.xml">RSS Feed</a></p>
    <div class="flex switch" style="gap: 0;">
      <p>Theme:</p>
      <label class="flex" title="Light Mode">
        <input type="radio" name="theme" value="light">
        <span class="sr-only">Light Mode</span>
      </label>
      <label class="flex" title="Dark Mode">
        <input type="radio" name="theme" value="dark">
        <span class="sr-only">Dark Mode</span>
      </label>
    </div>
  </footer>
</body>
</html>